@charset "UTF-8";

ul#album-fotos {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid white;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
}

ul#album-fotos li span{
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover{
	-webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span{
	opacity: 1;
}

ul#album-fotos li#foto01{
	background: url('DSCN8100.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto01:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto02{
	background: url('tensao.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto02:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto03{
	background: url('economia.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto03:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto04{
	background: url('testepratico.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto04:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto05{
	background: url('dinamometro.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto05:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto06{
	background: url('teste.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto06:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}
ul#album-fotos li#volvo1{
	background: url('volvo1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#volvo1:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#volvo2{
	background: url('volvo2.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#volvo2:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#volvo3{
	background: url('volvo3.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#volvo3:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto1{
	background: url('1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto1:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto2{
	background: url('2.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto2:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto3{
	background: url('3.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto3:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto4{
	background: url('4.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto4:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto5{
	background: url('5.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto5:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto6{
	background: url('6.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto6:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto7{
	background: url('7.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto7:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto8{
	background: url('8.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto8:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto9{
	background: url('9.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto9:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf1{
	background: url('zf1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf1:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf2{
	background: url('zf2.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf2:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf3{
	background: url('zf3.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf3:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf4{
	background: url('zf4.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf4:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf5{
	background: url('zf1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf5:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf6{
	background: url('zf6.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf6:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf7{
	background: url('zf7.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf7:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf8{
	background: url('zf8.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf8:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#zf9{
	background: url('zf9.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#zf9:hover{
	background-size: 200px 200px;
	background-position: 0px 0px;
}

fieldset{
	padding:1px;
}

td img{
	width: 50px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
	box-sizing: border-box;
}
td img:hover{
	border: 2px solid rgba(255,255,255,0.637);
	transform: translate(-3px,-3px);
	box-shadow: 5px 5px 10px black;
	transition: transform .3s;
}
td{
	text-align: center;
}
